<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes List - Add</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <form action="/process" method="post">
        <div class="form-group">
          <label for="author">Quote Author</label>
          <input type="text" name="author" id="inputName" class="form-control" placeholder="Add quote author here" />
        </div>
        <div class="form-group">
          <label for="quote">Quote</label>
          <textarea class="form-control" name="quote" id="quote" rows="5" placeholder="Aff your quote here..."></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Your Quote</button>
      </form>
    </div>
  </body>
</html>
